<div class="flex" *ngIf="lineChartLabels">
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              ></canvas>
    </div>
  </div>
</div>
