<mat-card>
  <form class="needs-validation" (ngSubmit)="formSubmit()" [formGroup]="submitForm">
    <mat-form-field>
      <mat-label>Company Symbol</mat-label>
      <input aria-label="Company Symbol" type="text" matInput
             formControlName="companySymbol"
             [matAutocomplete]="auto"
      >

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error>{{symbolError}}</mat-error>
    </mat-form-field>

    <div class="d-flex">
      <mat-form-field>
        <mat-label>Choose a start date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" readonly [max]="maxStartDate"
               [min]="minStartDate" (click)="startDatePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
        <mat-error>{{startDateError}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a end date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" readonly [max]="maxEndDate"
               [min]="minEndDate" (click)="endDatePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
        <mat-error>{{endDateError}}</mat-error>
      </mat-form-field>
    </div>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input aria-label="Email" type="email" matInput
             formControlName="email"
      >
      <mat-error>{{emailError}}</mat-error>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" type="submit">Find quote</button>
  </form>
</mat-card>

