<div class="container">
  <h1>{{title}}</h1>
  <app-submit-form class="d-block"></app-submit-form>
  <app-result-table class="d-block"></app-result-table>
  <app-line-chart class="d-block"></app-line-chart>
</div>
