<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource.length;else notFound">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date.</th>
      <td mat-cell *matCellDef="let element"> {{element.date * 1000 | date }} </td>
    </ng-container>

    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef> Open</th>
      <td mat-cell *matCellDef="let element"> {{element.open}} </td>
    </ng-container>

    <ng-container matColumnDef="high">
      <th mat-header-cell *matHeaderCellDef> High</th>
      <td mat-cell *matCellDef="let element"> {{element.high}} </td>
    </ng-container>

    <ng-container matColumnDef="low">
      <th mat-header-cell *matHeaderCellDef> Low</th>
      <td mat-cell *matCellDef="let element"> {{element.low}} </td>
    </ng-container>

    <ng-container matColumnDef="close">
      <th mat-header-cell *matHeaderCellDef> Close</th>
      <td mat-cell *matCellDef="let element"> {{element.close}} </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef> Volume</th>
      <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons *ngIf="dataSource.length > 5"></mat-paginator>
  <ng-template #notFound>
    <p class="not-found" aria-label="Not found">Empty result. Try different search params</p>
  </ng-template>
</div>


